# Dependencies
node_modules

# Build outputs
.svelte-kit
build

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Vercel
.vercel

# Supabase seed data
supabase/seed.sql

# Presentation
presentation.html
dashboard.jpg
calendar.jpg
